ul {
    margin: auto;
    width: 100%;

    list-style-type: none;
    height: 60px;
    align-content: center;

}

li {
    display: inline;
    line-height: 50px;
    font-size: 45px;
    margin: 5px;
}

nav {
    position: fixed;
    top: 0px;
    background-color: #ffd700;
    width: 100%;
}

.leeft {
    position: fixed;
    top: 0px;
    left: 0px;
}

.riight {
    position: fixed;
    top: 0px;
    right: 0px;
}